apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: site24x7k8s.site24x7.com
spec:
  group: site24x7.com
  names:
    kind: Site24x7K8s
    listKind: Site24x7K8sList
    plural: site24x7k8s
    singular: site24x7k8s
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Site24x7K8s is the Schema for the site24x7k8s API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: Site24x7K8sSpec defines the desired state of Site24x7K8s
            properties:
              infrastructure:
                properties:
                  API_SERVER_ENDPOINT_URL:
                    type: string
                  KUBE_API_SERVER:
                    type: string
                  KUBE_STATE_METRICS_URL:
                    type: string
                  enabled:
                    description: Enable this to enable Kubernetes Monitoring.
                    type: boolean
                  nameOverride:
                    type: string
                  fullnameOverride:
                    type: string
                  deviceKey:
                    type: string
                  clusterName:
                    type: string
                  site24x7Agent:
                    type: object
                    properties:
                      create:
                        type: boolean
                      annotations:
                        type: object
                        additionalProperties:
                          type: string
                      updateStrategy:
                        type: object
                        properties:
                          type:
                            type: string
                          rollingUpdate:
                            type: object
                            properties:
                              maxUnavailable:
                                type: string
                      nodeSelector:
                        type: object
                        additionalProperties:
                          type: string
                      tolerations:
                        type: array
                        items:
                          type: object
                      securityContext:
                        type: object
                        additionalProperties:
                          type: string
                      applyNonRootSecurityContext:
                        type: boolean
                      applyDefaultToleration:
                        type: boolean
                      image:
                        type: object
                        properties:
                          repository:
                            type: string
                          name:
                            type: string
                          pullPolicy:
                            type: string
                          tag:
                            type: string
                          imagePullSecrets:
                            type: array
                            items:
                              type: string
                      resources:
                        type: object
                        properties:
                          limits:
                            type: object
                            properties:
                              memory:
                                type: string
                      installerName:
                        type: string
                      extraEnv:
                        type: array
                        items:
                          type: object
                      applyPriorityClass:
                        type: boolean
                      priorityClassValue:
                        type: integer
                  site24x7KubeStateMetrics:
                    type: object
                    properties:
                      create:
                        type: boolean
                      annotations:
                        type: object
                        additionalProperties:
                          type: string
                      updateStrategy:
                        type: object
                        properties:
                          type:
                            type: string
                          rollingUpdate:
                            type: object
                            properties:
                              maxUnavailable:
                                type: string
                      nodeSelector:
                        type: object
                        additionalProperties:
                          type: string
                      tolerations:
                        type: array
                        items:
                          type: object
                      securityContext:
                        type: object
                        additionalProperties:
                          type: string
                      replicas:
                        type: integer
                      applyDefaultToleration:
                        type: boolean
                      image:
                        type: object
                        properties:
                          repository:
                            type: string
                          name:
                            type: string
                          pullPolicy:
                            type: string
                          tag:
                            type: string
                          imagePullSecrets:
                            type: array
                            items:
                              type: string
                      resources:
                        type: object
                        properties:
                          requests:
                            type: object
                            properties:
                              cpu:
                                type: string
                              memory:
                                type: string
                          limits:
                            type: object
                            properties:
                              cpu:
                                type: string
                              memory:
                                type: string
                      applyPriorityClass:
                        type: boolean
                      priorityClassValue:
                        type: integer
                  site24x7ClusterAgent:
                    type: object
                    properties:
                      create:
                        type: boolean
                      replicas:
                        type: integer
                      annotations:
                        type: object
                        additionalProperties:
                          type: string
                      updateStrategy:
                        type: object
                        properties:
                          type:
                            type: string
                          rollingUpdate:
                            type: object
                            properties:
                              maxUnavailable:
                                type: string
                      nodeSelector:
                        type: object
                        additionalProperties:
                          type: string
                      tolerations:
                        type: array
                        items:
                          type: object
                      securityContext:
                        type: object
                        additionalProperties:
                          type: string
                      applyDefaultToleration:
                        type: boolean
                      image:
                        type: object
                        properties:
                          repository:
                            type: string
                          name:
                            type: string
                          tag:
                            type: string
                          pullPolicy:
                            type: string
                          imagePullSecrets:
                            type: array
                            items:
                              type: string
                      resources:
                        type: object
                        properties:
                          limits:
                            type: object
                            properties:
                              cpu:
                                type: string
                              memory:
                                type: string
                      extraEnv:
                        type: array
                        items:
                          type: object
                      applyPriorityClass:
                        type: boolean
                      priorityClassValue:
                        type: integer
                      livenessProbe:
                        type: object
                        additionalProperties:
                          type: string
                      readinessProbe:
                        type: object
                        additionalProperties:
                          type: string
                  serviceAccount:
                    type: object
                    properties:
                      create:
                        type: boolean
                      annotations:
                        type: object
                        additionalProperties:
                          type: string
                      name:
                        type: string
                  site24x7ConfigMap:
                    type: object
                    properties:
                      create:
                        type: boolean
                      nodeAgentVersion:
                        type: string
                      clusterAgentVersion:
                        type: string
                      oneMin:
                        type: object
                        properties:
                          Pods:
                            type: string
                          Nodes:
                            type: string
                          Namespaces:
                            type: string
                          HorizontalPodAutoscalers:
                            type: string
                          DaemonSets:
                            type: string
                          Deployments:
                            type: string
                          Endpoints:
                            type: string
                          ReplicaSets:
                            type: string
                          StatefulSets:
                            type: string
                          Services:
                            type: string
                          PV:
                            type: string
                          PersistentVolumeClaims:
                            type: string
                          Jobs:
                            type: string
                          Ingresses:
                            type: string
                      settings:
                        type: object
                        additionalProperties:
                          type: string
                type: object
              apm:
                properties:
                  enabled:
                    description: Enable this to enable Apm Monitoring.
                    type: boolean
                  exporter:
                    description: Fill this to mention the Scope of exporter
                    type: string
                  monitor_all_pods:
                    description: Monitor all pods in the cluster for APM.
                    type: boolean
                  include_app_labels:
                    description: Include the application labels per namespace to be monitored by APM.
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: object
                        additionalProperties:
                          type: string
                  exclude_app_labels:
                    description: Exclude the application labels per namespace to be monitored by APM.
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: object
                        additionalProperties:
                          type: string
                type: object
              proxy:
                properties:
                  http_proxy:
                    type: string
                  https_proxy:
                    type: string
                type: object
              namespace:
                type: string
              apply_tolerations:
                type: boolean
              resource_base_name:
                type: string
              openShift:
                type: boolean
              gkeAutoPilot:
                type: boolean
            type: object
          status:
            description: Site24x7K8sStatus defines the observed state of Site24x7K8s
            type: object
            properties:
              ObservedGeneration:
                type: integer
                format: int64
        type: object
    served: true
    storage: true
    subresources:
      status: {}
